{% extends 'tfc/layout.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<div class="login-page">
  <div class="form-container">
    <h3>Alterar Password</h3>

    {% if messages %}
      {% for message in messages %}
        <div class="error-message">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}

    <form method="post">
      {% csrf_token %}

      <div class="password-wrapper wrapper-alterar">
        <label for="password_atual">Password atual * </label>
        <input type="password" name="password_atual" id="password_atual" required>
        <button type="button" class="toggle-password" data-target="password_atual">
          <i class="bi bi-eye-slash"></i>
        </button>
      </div>

      <div class="password-wrapper wrapper-alterar">
        <label for="nova_password">Nova password * </label>
        <input type="password" name="nova_password" id="nova_password" required>
        <button type="button" class="toggle-password" data-target="nova_password">
          <i class="bi bi-eye-slash"></i>
        </button>
      </div>

      <div class="password-wrapper wrapper-alterar">
        <label for="confirmar_password">Confirmar nova password * </label>
        <input type="password" name="confirmar_password" id="confirmar_password" required>
        <button type="button" class="toggle-password" data-target="confirmar_password">
          <i class="bi bi-eye-slash"></i>
        </button>
      </div>

      <button type="submit" class="btn-login">Alterar Password</button>
    </form>

    <div class="google-link">
        <a href="{% url 'tfc:perfilFamilia' %}" class="google-login-link">
            Voltar ao Perfil da Família
    </a>
</div>
  </div>
</div>

<script>
  document.querySelectorAll(".toggle-password").forEach(button => {
    button.addEventListener("click", () => {
      const targetId = button.getAttribute("data-target");
      const input = document.getElementById(targetId);
      const icon = button.querySelector("i");

      if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("bi-eye-slash");
        icon.classList.add("bi-eye");
      } else {
        input.type = "password";
        icon.classList.remove("bi-eye");
        icon.classList.add("bi-eye-slash");
      }
    });
  });
</script>

{% endblock %}