{% extends "tfc/layout.html" %}

{% block title %}Biblioteca{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tfc/estilos.css' %}">

    <div class="audiolivros">

        <form method="GET" action="{% url 'tfc:biblioteca' %}" class="filtro-pesquisa">
            <select name="categoria" onchange="this.form.submit()" class="form-select">
                <option value="">Todas as categorias</option>
                {% for cat in categorias %}
                    <option value="{{ cat }}" {% if categoria_selecionada == cat %}selected{% endif %}>{{ cat }}</option>
                {% endfor %}
            </select>
        </form>

        <div class="categories-container">
            {% for categoria, audiolivros in audiolivros_por_categoria.items %}
                <div class="categoria">
                    <h2 class="categoria-titulo">{{ categoria }}</h2> <
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        {% for audio in audiolivros %}
                            <div class="col">
                                <div class="card-biblioteca shadow-sm">
                                    <a href="{% url 'tfc:detalhe_audiolivro' audio.id %}" class="card-link">
                                        <img src="{{ audio.capa.url }}" class="card-img-top" alt="Capa de {{ audio.titulo }}">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ audio.titulo }}</h5>
                                            {% if audio.descricaoAudio %}
                                                <audio controls>
                                                <source src="{{ audio.descricaoAudio.url }}" type="audio/mpeg">
                                                O seu navegador não suporta áudio.
                                                </audio>
                                            {% else %}
                                                <p class="card-text">{{ audio.descricao|truncatewords:10 }}</p>
                                            {% endif %}
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% empty %}
                            <p>Nenhum audiolivro encontrado nesta categoria.</p>
                        {% endfor %}
                    </div>
                </div>
            {% empty %}
                <p>Nenhum audiolivro encontrado.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
