{% extends 'tfc/layout.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
{% load static %}
<div class="register-page">
  <div class="form-container">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <h3>Editar Perfil</h3>

      <label for="nome">Nome da família*</label>
      <input type="text" name="nome" id="nome" value="{{ familia.nome }}" required>

      <label for="email">Email *</label>
      <input type="email" name="email" id="email" value="{{ familia.email }}" required>

      <label for="foto">Fotografia (opcional)</label>
      <input type="file" name="foto" id="foto" accept="image/*">

      <label for="apresentacao_familia">Apresentação da família (áudio) (opcional)</label>
      <input type="file" name="apresentacao_familia" id="apresentacao_familia" accept="audio/*">

      <div style="margin-top: 15px;">
        <a href="{% url 'tfc:alterar_password' %}" class="password-recover-link">Deseja alterar a sua password?</a>
      </div>

      <input type="submit" value="Guardar Alterações" class="btn-login">

      <a href="{% url 'tfc:perfilFamilia' familia.id %}" class="btn-login logout-btn">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}