{% extends 'tfc/layout.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-page">
  <div class="form-container">
    <h3>Login</h3>

    {# Se houver erro do POST de nome+senha, exibimos aqui #}
    {% if error %}
      <p class="error-message">{{ error }}</p>
    {% endif %}

    {# === Formulário “tradicional” nome+senha === #}
    <form method="POST" action="{% url 'tfc:login' %}">
      {% csrf_token %}
      <label for="nome">Nome de utilizador *</label>
      <input type="text" id="nome" name="nome" required>

    <label for="password">Password *</label>
    <div class="password-wrapper  wrapper-auth">
      <input type="password" id="password" name="password" required placeholder="Password">
      <button type="button" id="toggle-password" aria-label="Mostrar palavra-passe">
        <i id="eye-icon" class="bi bi-eye-slash"></i>
      </button>
    </div>

    <div class="password-help">
        <a href="{% url 'tfc:recuperar_password' %}" class="password-recover-link">Esqueceu-se?</a>
    </div>

      <button type="submit" class="btn-login">Entrar</button>
    </form>

    <a href="{% url 'tfc:registo' %}" class="btn-login" style="display: block; text-align: center;">
        <span class="smaller-text">Não tem uma conta?</span>
        <span class="highlight-text"> Registe-se</span>
    </a>
{% comment %}
    <div class="google-link">
        <a href="{% provider_login_url 'google' %}?next=/biblioteca/" class="google-login-link">
        Entrar com Google
        </a>
    </div>
{% endcomment %}
  </div>
</div>

<script>
  const toggleBtn = document.getElementById("toggle-password");
  const passwordInput = document.getElementById("password");
  const eyeIcon = document.getElementById("eye-icon");

  toggleBtn.addEventListener("click", () => {
    const isVisible = passwordInput.type === "text";
    passwordInput.type = isVisible ? "password" : "text";
    eyeIcon.className = isVisible ? "bi bi-eye-slash" : "bi bi-eye";
  });
</script>

{% endblock %}
