{% extends 'tfc/layout.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-page">
  <div class="form-container">
    <h3>Recuperar Password</h3>

    {% if success %}
        <div class="alert alert-success">{{ success }}</div>
    {% elif error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="post" action="{% url 'tfc:recuperar_password' %}">
        {% csrf_token %}
        <label for="email">Insira o seu email:</label>
        <input type="email" name="email" id="email" required placeholder="email@exemplo.com">

        <button type="submit" class="btn-login">Enviar nova password</button>
    </form>

    <div class="google-link">
        <a href="{% url 'tfc:login' %}" class="google-login-link">
        Voltar para o login
        </a>
    </div>
  </div>
</div>

{% endblock %}



