{% extends 'tfc/layout.html' %}

{% block title %}Registar{% endblock %}

{% block content %}
{% load static %}
<div class="register-page">
    <div class="form-container">
        <h3>Criar Conta</h3>

        {% if mensagem %}
            <p class="error-message">{{ mensagem }}</p>
        {% endif %}

        <form action="{% url 'tfc:registo' %}" method="post" class="register-form" enctype="multipart/form-data">
            {% csrf_token %}

            <label for="nome">Nome de Utilizador * </label>
            <input type="text" name="nome" placeholder="Nome da Família" required>

            <label for="email">Email * </label>
            <input type="email" name="email" placeholder="Email" required>

            <label for="password">Password * </label>
            <div style="position: relative;">
                <input type="password" id="reg-password" name="password" placeholder="Senha" required style="width: 100%; padding-right: 40px;">
                <button type="button" id="toggle-reg-password" style="
                    position: absolute;
                    top: 45%;
                    transform: translateY(-50%);
                    right: 0;
                    height: 100%;
                    width: 60px;
                    border: none;
                    background: transparent;
                    cursor: pointer;
                    font-size: 18px;
                    padding: 0;
                    margin: 0;
                ">👁️</button>
            </div>

            <label for="foto">Foto da Família (opcional)</label>
            <input type="file" name="foto" accept="image/*">

            <label for="apresentacao_familia">Apresentação (opcional)</label>
            <input type="file" name="apresentacao_familia" accept="audio/*, video/*, .pdf, .doc, .docx">

            <input type="submit" value="Criar Conta">
        </form>

        <p class="login-prompt">Já tem uma conta? <a href="{% url 'tfc:login' %}">Entrar</a></p>
    </div>
</div>

<script>
    const toggleRegPassword = document.getElementById("toggle-reg-password");
    const regPasswordInput = document.getElementById("reg-password");

    toggleRegPassword.addEventListener("click", function () {
        const type = regPasswordInput.getAttribute("type") === "password" ? "text" : "password";
        regPasswordInput.setAttribute("type", type);
    });
</script>
{% endblock %}
